.contenedor_recovery {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e293a;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.email_input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #233044;
    color: white;
    border: 1px solid #ccc;
    outline: none;
}

.email_input::placeholder {
    color: #ccc;
}

.custom-button {
    width: 100%; 
    background-color: #3f4a61;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #1e293a;
}